global
    # Send logs to our C++ Collector on UDP 514
    log monitor-server:514 local0
    maxconn 256

defaults
    log global
    mode http
    # CRITICAL: This option enables logging of health check failures!
    option log-health-checks
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend broken_servers

backend broken_servers
    # Check health every 5 seconds.
    # Since 127.0.0.1:1234 is closed, this will fail and generate logs.
    server backend_1 127.0.0.1:1234 check inter 5s fall 1 rise 1
